<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=" UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
        <link rel="stylesheet" type="text/css" href="account.css">
        <title>LinkedIn || Account</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
            <div class="grid">
            <img src="img/Ellipse 2.png">
        </div>
        <div class="grid-1">
            <h1> Charles Daniel</h1>
            <h3>Creative designer, youth advocate
                and human management</h3>
            </div>
        </div>
        <button>View Profile</button>
        
        <div class="account">
            <h1>Account</h1>
            <a href="#">Settings & Privacy</a>
            <a href="#">Help</a>
            <a href="#">Language</a>
        </div>

        <div class="Manage">
            <h1>Manage</h1>
            <a href="#">Post & activity</a>
            <a href="#">Job posting account</a>
        </div>
        <div class="sign">
            <a href="#">Sign Out</a>
        </div>
 </div>
        
 
    </body>
</html>