<!DOCTYPE html>
<html><head>
    <meta charset=" UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link rel="stylesheet" type="text/css" href="dashboard.css">
    <title>LinkedIn || Dashboard</title>
</head>

<body>
<header>
    <div class="header-div">
    <button>in</button>
    <input type="search" placeholder="search">
</div>
<div class="header-div-1">
    <img src="img/Vector.png">
   <img src="img/Vector (1).png">
    <img src="img/Vector (2).png">
    <img src="img/Vector (3).png">
    <img src="img/Vector (4).png">
    <img src="img/Ellipse 1 (1).png">
    <img src="img/Vector (5).png">
    <img src="img/Vector (6).png">
</div>
</header>

<section id="container">
    <div class="wrapper">
        <div class="profile">
            <div class="color">    
            </div>
             <div class="tems">
                 <img src="img/Ellipse 1 (1).png">
                 <h1>Temi Lisa</h1>
                 <h3>Graphics designer at Sparks limited</h3>
             </div>

             <div class="profile-1">
                 <h1>Who viewed your profile <span>191</span></h1>
                 <h1>Connections <span>22</span></h1>
                 <h2>Grow your network</h2>
             </div>

             <div class="profile-2">
                 <h4>Access exclusive tools and insight</h4>
                 <div class="rectangle">
                     <img src="img/Rectangle 27.png">
                     <h3>Try premium free for one month</h3>
                 </div>
             </div>
             <div class="profile-3">
                 <h3>My items</h3>
             </div>
             <div class="profile-4">
                 <h3>Recent</h3>
                 <p>#  startup</p>
                 <p>#  research</p>
                 <p>#  design</p>
                 <p>#  success</p>
                 <p>#  networking</p>
                <div><a href="#">Groups</a></div>
                <div><a href="#">Events</a></div>
             </div>
             <div class="profile-5">
                 <h3>discover more</h3>
             </div>
        </div>
        <div class="post">
           <div class="pics">
               <img src="img/Ellipse 1 (1).png">
               <input type="text"  placeholder="Start a post">
               <div class="photo">
                <div class="photo-1">
                <img src="img/Vector (7).png">
                <h1>Photo</h1>
             </div>
             <div class="video">
                 <img src="img/Vector (8).png">
                 <h1>Video</h1>
             </div>
             <div class="event">
                 <img src="img/Vector (9).png">
                 <h1>Events</h1>
             </div>
             <div class="article">
                 <img src="img/Rectangle 16.png">
                 <h1>Write article</h1>
             </div>
            </div>
         </div>

         <div class="post-1">
             <div class="picture">
                 <div class="picture-1">
                     <img src="img/Ellipse 6.png">
                 </div>
                 <div class="picture-2">
                     <h1>Maerek mucha</h1>
                     <h3>What the mind capture tells a lot about the day's activity</h3>
                 </div>

             </div>
             <h1>Make your working environment conducive to motivate you</h1>
             <img src="img/Rectangle 29.png">
             <div class="like">
                 <h1>like</h1>
                 <h1>comment</h1>
                 <h1>share</h1>
                 <h1>send</h1>
             </div>
         </div>
           </div>
           
           <div class="courses">
               <div class="courses-1">
      <h1>Today's top course</h1>
      <p>Information on how this is selected</p>
      <ol>
          <li>
              Discussing Racism with Dr. chrristain Gear
          </li>
          <li>Creativity at work:A short course from Seth Godin</li>
          <l1>Communicating with confidence :Jeff Ansell</l1>
          <h4>Show more on limkedin learning</h4>
      </ol>
    </div>
       <div class="courses-2">
           <h1>Get the latet jobs and industry news</h1>
           <img src="img/Ellipse 1 (1).png">
           <h3>temi, explore relevant opportunities
            with Dynamic Africa</h3>
            <button>follow</button>
       </div>
  <div class="courses-3">
      <div class="courses-3-1">
       <a>about</a>
       <a>Accessibility</a>
       <a>Help center</a>
    </div>
    <div class=" courses-3-2">
       <a>Privacy & terms</a>
       <a>Ad choices</a>
    </div>
    <div class="courses-3-3">
       <a>Advertising</a>
       <a>Get the LInkedin app</a>
       <a>More</a>
    </div>
    </div>
        </div>
    </div>
    
</section>
</body>
</html>