<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=" UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>LinkedIn || Home</title>
    </head>
    <body>
        <div class="nav-bar">
            <div class="logo">
                <h1>Linked</h1>
                <button>in</button>
            </div>
            <div class="nav">
                <a href="/signup">Join now</a>
                <a href="/signin"><button >Sign in</button></a>
                
            </div>
        </div>

        <main>
            <div class="container">
                <div class="Welcome">
                    <h2>Welcome to  your<br>
                        professional community</h2>
                        <form>
                            <input type="text" placeholder="Search for a job" class="input-type">
                            <input type="text" placeholder="Find a person you know"class="input-type" >
                            <input type="text" placeholder="Learn a new skill" class="input-type">
                        </form>
                </div>
                <div class="image">
                    <img src="img/images 1.png">
                </div>
            </div>
        </main>
        <section id="job">
            <div class="container">
                <div class="open">
                    <h2>Find open jobs and<br>
                        internships</h2>
                </div>
                <div class="sugested">
                    <h2>Suggested Searches</h2>
                    <button>Engineering</button>
                    <button>Business Development</button>
                    <button>Finances</button>
                    <button>Administrative Assistant</button>
                    <button>Retail Associate</button>
                    <button>Customer Service</button>
                    <button>Operations</button>
                    <button>Information Technology</button>
                    <button>Marketing</button>
                    <button>Human Resources</button>
                </div>
            </div>
        </section>
        <section id="find">
            <div class="container">
                <div class="need">
                    <h2>Post your job and find<br> people you will need</h2>
                </div>
                <div class="post">
                    <button>Post a job</button>
                </div>
            </div>
        </section>
        <section id="people">
            <div class="container">
                <div class="work">
                    <h2>Let the right people know<br>
                        you are open to work</h2>
                        <h3>With the Open To work feature, you can<br>
                            privately tell recruiters or publicly share<br>
                            with the LinkedIn community that you are<br>
                            looking for new job opportunities</h3>
                </div>
                <div class="picture">
                    <img src="img/Ellipse 1.png" >
                </div>
            </div>
        </section>

        <section id="persons">
            <div class="container">
                <div class="img-1">
                    <img src="img/people.svg" width="500px" >
                    <h2>Connect with people who can help</h2>
                    <button>Find people you know</button>
                </div>
                <div class="img-2">
                    <img src="img/person.svg" width="500px">
                    <h2>Learn the skills that can help you now</h2>
                    <button>Choose a topic to learn about</button>
                </div>
            </div>
        </section>

        <section id="land">
            <h2>Join your colleagues, classmates, and friends on LinkedIn.</h2>
            <button>Get Started</button>
        </section>
        <footer>
           <div class="link">
               <div class="linked">
                <div class="logo">
                    <h1>Linked</h1>
                    <button>in</button>
                </div>
               </div>
               <div class="general">
                   <a href="#">Sign up</a>
                   <a href="#">Health center</a>
                   <a href="#">About</a>
                   <a href="#">Press</a>
                   <a href="#">Blog</a>
                   <a href="#">Career</a>
               </div>
               <div class="browse">
                <a href="#">Browse Linkedin</a>
                <a href="#">Learning</a>
                <a href="#">Job</a>
                <a href="#">Mobile</a>
                <a href="#">Services</a>
               </div>
               <div class="business">
                <a href="#">Business solutions</a>
                <a href="#">Talent</a>
                <a href="#">Marketing</a>
                <a href="#">Sales</a>
                <a href="#">Learning</a>
               </div>
               <div class="directory">
                <a href="#">Directories</a>
                <a href="#">Members</a>
                <a href="#">Jobs</a>
                <a href="#"> Compnies</a>
                <a href="#">Salaries</a>
                <a href="#">Features</a>
                <a href="#">Learning</a>
                <a href="#">Posts</a>
                <a href="#">Articles</a>
                <a href="#">Schools</a>
                <a href="#">News</a>
                <a href="#">NewsLetters</a>
                <a href="#">Interview Prep</a>
                <a href="#">Services</a>
                <a href="#">Products</a>
                
               </div>

           </div>
        </footer>
    </body>
</html>