<!DOCTYPE html>
<html>
    <head>
        <meta charset=" UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
        <link rel="stylesheet" type="text/css" href="css/logout.css">
        <title>LinkedIn || Logout</title>
    </head>
    <body>
        <div class="container">
            <img src="" alt=" A padlock">
            <h1>Remember me on this browser</h1>
            <h3>You won't need to enter your sign in information the next time you enter LinkedIn</h3>
            <a href="#">Learn more</a>

            <button class="btn">Remeber and Sign Out</button>
            <button class="btn-1">Sign Out</button>
        </div>
    </body>
</html>
