<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=" UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
        <link rel="stylesheet" type="text/css" href="Sign-up.css">
        <title>LinkedIn || Home</title>
    </head>

    <body>
        <div class="container">
            <div class="logo">
            <h1>Linked</h1>
            <button>in</button>
        </div>
    </div>
    <div class="class">
        <h2>Make the most of your professional life</h2>
    </div>
    <div class="sign-in">
        <form>
            <label class="text">Email or Phone number</label>
            <input type="text" class="email">

            <label class="text">Password (6 or more characters)</label>
            <input type="password" class="email">
            <h5>By clicking Agree & Join, you agree to the LinkedIn  <span>User Agreement, Privacy Policy,</span> and <span>Cookie Policy</span> .</h5>
            <button class="btn">Agree & Join</button>
            <h6>or</h6>
            <button class="btn-1">Join with Google</button>
            <h4>Already on LinkedIn?  <a href="#">Join now</a></h4>
        </form>
        
    </div>
    <footer> </footer>
    </body>
</html>