<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=" UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
        <link rel="stylesheet" type="text/css" href="css/signup.css">
        <title>LinkedIn || Home</title>
    </head>

    <body>
        <div class="container">
            <div class="logo">
            <h1>Linked</h1>
            <button>in</button>
        </div>
    </div>
    <div class="class">
        <h2>Make the most of your professional life</h2>
    </div>
    <div class="sign-in">
        <form>
            <label class="text">Email or Phone number</label>
            <input type="text" name="email" class="email" required>
             <div class="email-error"></div>
            <label class="text">Password (6 or more characters)</label>
            <input type="password" name="password" class="email" required>
            <div class="password-error"></div>
            <h5>By clicking Agree & Join, you agree to the LinkedIn  <span>User Agreement, Privacy Policy,</span> and <span>Cookie Policy</span> .</h5>
            <button class="btn ">Agree & Join</button>
            <h6>or</h6>
            <button class="btn-1">Join with Google</button>
            <h4>Already on LinkedIn?  <a href="/signin">Join now</a></h4>
        </form>
        
    </div>
    <footer>
        <div class="last">
            <div class="logo-last">
                <h1>Linked</h1>
                <button>in</button>
            </div>
            <a href="#">About</a>
            <a href="#">Accountability</a>
            <a href="#">User Agrement</a>
            <a href="#">Privacy Policy</a>
            <a href="#"> Cookie Policy</a>
            <a href="#"> Copyright Policy</a>
            <a href="#">Brand Policy</a>
            <a href="#">Quest Control</a>
            <a href="#">Community Guidelines</a>
            <a href="#">Languages</a>
           </div>
         </footer>
    <script>
        const emailerror = document.querySelector('.email-error');
        const passworderror = document.querySelector('.password-error');


        const form = document.querySelector('form');
        form.addEventListener('submit',async (e) =>{
            e.preventDefault();
     // reset errors
                  emailerror.textContent = '';
                  passworderror.textContent = '';
            //get the values
            const email = form.email.value;
            const password= form.password.value;

            try{
              const res = await fetch('/signup',{
                
                  method:'POST',
                  body: JSON.stringify({email,password}),
                  headers:{'Content-Type':'application/json'}
              });
              const data = await res.json();
              console.log(data);
              if(data.errors){
                  emailerror.textContent = data.errors.email;
                  passworderror.textContent = data.errors.password;
              }
              if(data.user){
                  location.assign('/signup2');
              }
            }
            catch(err){
                console.log(err)
            }
            console.log(email,password)
        })
    </script>
    </body>
</html>