<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=" UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
        <link rel="stylesheet" type="text/css" href="css/signin.css">
        <title>LinkedIn || Home</title>
    </head>
    <body>
        <div class="container">
        <div class="logo">
        <h1>Linked</h1>
        <button>in</button>
    </div>
    </div>
<div class="sign-in">
    <div class="sign">
    <h2>Sign in</h2>
    <h4>Stay updated on your professional world</h4>
         <form>
             <input type="text"  placeholder="Email or Phone" class="email"><br>
             <input type="password"  placeholder="password" class="password">
         </form>
         <h5>Forgot password?</h5>
         <button>Sign In</button>

</div>
</div>
<div class="join">
<h4>New to LinkedIn?  <a href="/signup">Join now</a></h4>
</div>
<footer> </footer>
    </body>
</html>