@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
html {
	font-size: 10px;
	font-family: 'Inter';
	/* scroll-behavior: smooth; */
}
header{
    display: flex;
    justify-content: space-between;
	background-color: white;
	padding-bottom: 1em;
}
.header-div{
	margin-left: 14em;
}
.header-div button{
	display: inline !important;
    background-color: #0A66C2;
    color: white;
    font-size: 2.3em;
    border: none;
    padding: 0.2em 0.2em;
    border-radius: 7px;
}
.header-div input{
	padding: 0.6em;
	background-color: #eef3f8;
	border: 1px solid #eef3f8;
	border-radius: 0.5em;

}
.header-div-1{
	margin-right: 24em; 
}
img{
   margin-right: 5em;
}

.wrapper{
	display: grid;
	grid-template-columns:15% 60% 25%;
	margin-left: 13em;
	padding-top: 13em;
}
body{
	background-color: #f3f2ef;
}
.color{
	width: 80%;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2); 
    padding: 3em;
    background-color: #d5bda3;
}
.tems{
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
    padding: 2em;
    background-color: white;
    text-align: center;
	width: 80%;
}
.tems img{
  margin-top: -19em !important;
  width: 50px;
}
.tems h1{
	font-size: 2em;
	text-align: center;
}
.tems h3{
	font-size: 1.5em;
	padding-top: 0.5em;
	font-weight: 300;
}
.pics{
	box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
    padding: 2em;
    background-color: white;
	width: 100%;
	
		
}
.pics img{
	width: 50px;
	
}
.pics input{
	width: 90%;
	padding: 1em;
	border-radius: 2em;
	display: inline;
    
}
.photo{
	display: flex !important;
	justify-content: left;
	margin-top: 1em;

}
.video{
	display: inline;
	margin-left: 20em;
}
.photo-1{
	display: inline;
	margin-left: 3em;
}
.event{
	margin-left: 20em;
}
.article{
	margin-left: 25em;
}
.courses{
	margin-left: 5em;
}
.courses-1{
	box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
    padding: 2em;
    background-color: white;
	width: 60%;
	margin-bottom:1em !important;
	
}
.courses-1 h1{
	font-size: 2em;
}
.courses-1 P{
	padding-top: 1em;
	font-size: 2em;
}
.courses-1 ol{
	list-style-type: style 1px; 
	padding-top: 0.5em;
	font-size: 1.5em;
}
.courses-1 h4{
 padding-top: 0.5em;
 font-size: 1em;
}
.courses-2{
	box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
    padding: 2em;
    background-color: white;
	width: 60%;
	margin-bottom:1em !important;
	
}
.courses-2 h1{
	font-size: 1.3em;
}
.courses-2 img{
	display: flex;
	justify-content: center;
	text-align: center;
	margin: auto;
	padding: 2em;
}
.courses-2 h3{
	font-size: 1.3em;
	text-align: center;
}
.courses-2 button{
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 1em;
	background-color: white;
	color: #0A66C2;
	padding: 0.3em 0.6em;
	border: 1px solid #0A66C2;
	border-radius: 2em;

}
.courses-3-1{
	display: flex;
	
	
}
.profile-1{
	box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
    padding: 2em;
    background-color: white;
	width: 80%;
	margin-top: 0.3em;
	text-align: left;
}
span{
	color: #0A66C2;
}
.profile-1 h1{
	font-weight: 500;
	font-size: 1.5em;
}
.profile-2{
	box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
    padding: 2em;
    background-color: white;
	width: 80%;
	margin-top: 0.3em;
	text-align: left;
}
.profile-3{
	box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
    padding: 2em;
    background-color: white;
	width: 80%;
	margin-top: 0.3em;
	text-align: left;	
}
.profile-4{
	box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
    padding: 2em;
    background-color: white;
	width: 80%;
	margin-top: 0.3em;
	text-align: left;
}
.profile-4 p{
font-size: 1.5em;
}
.profile-4 a{
	font-size: 1.5em;
}
.profile-4 h3{
		font-size: 1.5em;
	}
.profile-5{
	box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
    padding: 2em;
    background-color: white;
	width: 80%;
	margin-top: 0.3em;
	text-align: left;
}
.post-1{
	box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
    padding: 2em;
    background-color: white;
	width: 100%;
	margin-top: 4em;
}
.post-1 h1{
	font-size: 2em;
	letter-spacing: 1px;
	padding-bottom: 1em;
	padding-top: 1em;
	
}
.picture{
	display: grid;
	grid-template-columns: 10% 90%;
	grid-gap: 0em;
}
.picture-2{
	padding-top: 0em !important;
	margin-left: -7em;
	margin-top: -2em;
}
.picture-2 h1{
	text-align: left;
	margin-left: 4em;
	margin-top: 2em;
}
.picture-2 h3{
	margin-left: 5em;
	font-size: 1.5em;
	font-weight: 200;
}
.post-1 img{
	width: 100%;
}
.like{
	display: flex;
	justify-content: left;
}
.like h1{
	margin-left: 2em;
}
.like img{
	width: 40px;
}