@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
html {
	font-size: 10px;
	font-family: 'Inter';
	/* scroll-behavior: smooth; */
}
.container{
	width: 100%;
	display: flex; 
	justify-content: space-around;
    
    margin-top: 13em !important;
}
.logo {
    display: inline !important;
    color: #0A66C2;
    font-size: 2em;
}
.logo h1{
    display: inline !important;
    color: #0A66C2;
    font-size: 2em;
    
}
.logo button{
    display: inline !important;
    background-color: #0A66C2;
    color: white;
    font-size: 2em;
    border: none;
    padding: 0em 0.1em;
    border-radius: 3px;
}
.sign-in{
    width: 20%;
    margin: auto;
	display: flex; 
	align-items: center ;
	justify-content: center ;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
    margin-top: 5em !important;  
    padding: 2em;
}
.sign{
    display: block;
   
}

.sign h2{
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 1px;
}
.sign h4{
    font-size: 1.7em;
    padding-top: 0.5em;
    font-weight: 400;
}
.sign form{
    font-size: 1.5em;
    padding-top: 0.5em;
}
.email{
    margin-top: 2em;
    width: 100%;
    padding:1em 1em ;
    border: 2px solid gray;
    border-radius: 7px;
    
}
.password{
    margin-top: 2em;
    width: 100%;
    padding:1em 1em ;
    border: 2px solid gray;
    border-radius: 7px;
}
.sign h5{
    font-size: 1.3em;
    padding-top: 0.5em;
    font-weight: 500;
    color:#0A66C2 ;
}
.sign button{
    font-size: 1.3em;
    color: white;
    background-color: #0A66C2 ;
    width: 100%;
    margin-top: 3em;
    padding: 1.3em 1em;
    border: none;
    border-radius: 3em;
    margin-bottom: 1.5em;
}
.join{
    display: flex; 
	align-items: center ;
	justify-content: center ;
    margin: auto;
    margin-top: 3em;
    font-size: 1.5em;
}
.join a {
    color:#0A66C2 ;
}

.logo-last {
    display: inline !important;
    color: black;
    font-size: 2em;
    margin-left: 2.9em !important;   
    
}
.logo-last h1{
    display: inline !important;
    color: black;
    font-size: 1em;
    
}
.logo-last button{
    display: inline !important;
    background-color: black;
    color: white;
    font-size: 1em;
    border: none;
    padding: 0em 0.1em;
    border-radius: 3px;
}
.last{
    padding: 1em;
}
.last a{
    padding: 2em;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14em;
    background-color: white;
}
@media screen and (max-width:768px){

    
    .container{
	width: 100%;
    display: flex;
    justify-content: right;
    margin-left: 2em;
    margin-top: 6em !important;
    }
    .logo {
        display: inline !important;
        color: #0A66C2;
        font-size: 1em;
        align-items: left;
        text-align: left;
    }
    .sign-in{
        width: 100%;
        height: 100%;
        display: flex;
       align-items: left;
       justify-content: left;
        margin-right: 2em;
        box-sizing: none;
        box-shadow: none;
        margin-top: 1em !important;  
        padding: 2em;
    }
    .sign h2{
        font-size: 2em;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .sign form{
        font-size: 1.5em;
        padding-top: 0.5em;
    }
    .sign h4{
        font-size: 1.7em;
        padding-top: 0.7em;
        font-weight: 400;
    }
    .email{
        margin-top: 1em;
        width: 100%;
        padding:1em 1em ;
        border: 1px solid gray;
        border-radius: 5px;
        
    }
    .password{
        margin-top: 1em;
        width: 100%;
        padding:1em 1em ;
        border: 1px solid gray;
        border-radius: 5px;
    }
    .sign h5{
        font-size: 1.3em;
        padding-top: 1em;
        font-weight: 500;
        color:#0A66C2 ;
    }
    .sign button{
        font-size: 1.3em;
        color: white;
        background-color: #0A66C2 ;
        width: 100%;
        margin-top: 1.5em;
        padding: 1em 1em;
        border: none;
        border-radius: 3em;
        margin-bottom: 0em;
        
    }
    footer{
        display: none;
    }
    .join{
       display: flex;
       justify-content: left;
       margin-left: 5em;
        margin-top: 0em;
        font-size: 1.3em;
    }
}
@media screen and (max-width:480px){

}
