@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	
}
body{
    /* width: 95%; */
}
.logo {
    display: inline !important;
    color: #0A66C2;
    font-size: 2em;
    margin-left: 2.9em !important;   
    
}
.logo h1{
    display: inline !important;
    color: #0A66C2;
    font-size: 1em;
    
}
.logo button{
    display: inline !important;
    background-color: #0A66C2;
    color: white;
    font-size: 1em;
    border: none;
    padding: 0em 0.1em;
    border-radius: 3px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
.nav{
    margin-right: 7em;   
}
.nav button{
    margin-left:3em;
    font-size: 1em;
    color: #0A66C2 ;
    background-color:white;
    padding: 1em 1em;
    border: 1px solid  #0A66C2 ;
    border-radius: 3em;

}
.container{
    display:grid;
    grid-template-columns: 60% 40%;
}
.container .Welcome {
    padding-left: 5.2em !important; 
    padding-top: 6em;
    
}
.Welcome h2{
    font-size: 4.5em;
    font-weight: 300;
    letter-spacing: 1px;
    color: #0A66C2;
}
.Welcome form{
display: block;
}
.input-type{
    display: block;
    padding:  1.5em 2em;
    width: 45%;
    margin-top: 2em;
    border: 1px solid gray;
    border-radius: 7px;  
}
.image{
 padding-top: 3em;
 width: 700px;
}
#job{
    background-color: #f9f8f8;
}
.open{
    padding: 5em;
}
.open h2{
    font-size: 2em;
    font-weight: 300;
}
#find{
    background-color: #f4efef;
}
.need{
    padding: 5em;
    
}
.need h2{
    font-size: 2em;
    font-weight: 300;
    color: #c23939;
}
.post{
    margin-top: 6em;
}
.post button{
    padding:  1em 2em !important;
    background-color: #ede5e5;
    border: 1px solid #7d7a7a;
    border-radius: 3em;
}
#people{
    background-color: #f0f0f0;
    padding-bottom: 3em;
}
.work{
    padding: 5em;
    
}
.work h2{
    font-size: 2em;
    font-weight: 300;
    color: #0A66C2 ;
}
.work h3{
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 1em;
}
.picture{
    padding-top: 3em;
   display: flex;
   justify-content: left;
   width: 400px;
}
.img-1{
    margin: 3em;
    padding-top: 3em;
}
.img-1 h2{
    padding-top: 1em;
    text-align: left;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 1px;
}
.img-1 button{
   padding: 1em 2em;
   border: 2px solid #808080;
   background-color: white;
   border-radius: 3em;
   margin-left: 7em;
   margin-top: 3em;
}

.img-2{
    margin: 3em;
    padding-top: 3em;
}

.img-2 h2{
    padding-top: 1em;
    text-align: left;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 1px;
}
.img-2 button{
   padding: 1em 2em;
   border: 2px solid #808080;
   background-color: white;
   border-radius: 3em;
   margin-left: 7em;
   margin-top: 3em;
}
#land{
    background-image: url(../img/gathering.png);
    background-size: 100% 100% !important;
    
}
#land h2{
    color: #317fcd;
    font-size: 2em;
    display: flex;
    justify-content: left;
    padding-left: 1.5em;
    padding-top: 3em;
}
#land button{
    font-size: 1em;
     background-color: #397bff;
     color: white;
     padding: 1em 2em;
     border: none;
     border-radius: 3em;
     margin-top:3em;
     margin-bottom: 1em;
     margin-left: 3em;
     
}
.sugested{
    margin-top: 4em;
}
.sugested h2{
   font-size: 1.5em;
   font-weight: 300;
}
.sugested button{
     font-size: 1em;
     background-color: #e2e2e2;
     color: black;
     padding: 1em 2em;
     border: none;
     border-radius: 3em;
     margin-top: 1em;
     margin-bottom: 1em;
     
}
footer .link{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding-top: 3em;
}
.link a{
    color: black;
    display: block;
    font-size: 1.5em;
    padding-top: 0.8em;
}
@media screen and (max-width:768px){
    .logo {
        display: inline !important;
        color: #0A66C2;
        font-size: 1em;
        margin-left: 1em !important;  
        margin-top: 0.5em; 
        
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
    }
    .nav{
        margin-right: 1em;   
    }
    .nav button{
        margin-left:1em;
        font-size: 0.7em;
        color: #0A66C2 ;
        background-color:white;
        padding: 0.6em 1em;
        border: 1px solid  #0A66C2 ;
        border-radius: 3em;
    
    }
    .container{
        display:block;

    }
    .container .Welcome {
        padding-left: 1em !important; 
        padding-top: 2em;
        padding-right: 1em;
        
    }
    .Welcome h2{
        font-size: 2em;
        font-weight: 300;
        letter-spacing: 1px;
        color: #0A66C2;
    }
    .Welcome form{
    display: block;
        }
    .input-type{
            display: block;
            padding:  1em 1em;
            width: 100%;
            margin-top: 2em;
            border: 1px solid gray;
            border-radius: 5px;  
    }
    
    .open{
        padding: 0em;
        padding-top: 3em;
        padding-left: 1em;
    }
    .open h2{
        font-size: 1.5em;
        font-weight: 300;
    }
    .sugested{
        margin-top: 1em;
    }
    .sugested h2{
       font-size: 1.5em;
       font-weight: 300;
       padding-left: 0.5em;
       padding-top: 1em;
    }
    .sugested button{
      font-size: 1em;
         background-color: #e2e2e2;
         color: black;
         padding: 1em 1em;
         border: none;
         border-radius: 3em;
         margin-top: 1em;
         margin-left: 0.5em;
    }
    #find{
        display: none;
    }
    #people{
        background-color: #f0f0f0;
        padding-bottom: 3em;
    }
    .work{
        padding: 0em;
        padding-top: 1em;
        padding-left: 1em;
        
    }
    .work h2{
        font-size: 1.5em;
        font-weight: 300;
        color: #0A66C2 ;
    }
    .work h3{
        font-size: 1.5em;
        font-weight: 300;
        letter-spacing: 1px;
        padding-top: 1em;
    }
    .picture{
        padding-top: 3em;
       display: flex;
       justify-content: center;
    }
    .img-1{
        margin: 3em;
        padding-top: 3em;
        
    }
    .img-1 img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px !important;
    }
    .img-1 h2{
        padding-top: 1em;
        text-align: left;
        font-size: 1em;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .img-1 button{
       padding: 1em 2em;
       border:1px solid #808080;
       background-color: white;
       border-radius: 3em;
       margin-left: 0em;
       margin-top: 3em;
       display: flex;
    }
    .img-2{
        margin: 3em;
        padding-top: 3em;
        
    }
    .img-2 img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px !important;
    }
    .img-2 h2{
        padding-top: 1em;
        text-align: left;
        font-size: 1em;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .img-2 button{
       padding: 1em 2em;
       border:1px solid #808080;
       background-color: white;
       border-radius: 3em;
       margin-left: 0em;
       margin-top: 3em;
       display: flex;
    
    
    }
    
    #land h2{
        color: #317fcd;
        font-size: 1.5em;
        display: flex;
        justify-content: left;
        padding-left: 1em;
        padding-top: 1em;
    }
    #land button{
        font-size: 1em;
         background-color: #397bff;
         color: white;
         padding: 0.5em 1em;
         border: none;
         border-radius: 3em;
         margin-top:0em;
         margin-bottom: 1em;
         margin-left: 1em;
         
    }
    .picture{
        padding-top: 3em;
       display: flex;
       justify-content: center !important;
       
    }
    footer{
        display: none;
    }
    
    
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .image img{
        width: 380px;
    }
    .picture img{
        width: 300px;
    }
}